body{
    background: linear-gradient(to right, #10E1FF, #6DFF6E);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:greenyellow;
}

.container{
    background-color:teal;
    padding: 2%;
    margin: 3% 30%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}

.calculations {
    padding: 1% 10%;
}

.container h1{
    color:goldenrod;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
}

button{
    color: greenyellow;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, .3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    size: 10%;
    margin: 5% 20% 0% 20%;
    padding: 2%;
}

.res{
    display: flex;
    flex-direction:row;
}

h2{
    font-size: 1rem;
}