body{
    background: linear-gradient(to right, #10E1FF, #6DFF6E);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:greenyellow;
}

.container{
    background-color:teal;
    padding: 15px 25px 15px 150px;
    margin: 10% 25%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}

.calculations {
    padding: 5px 25px;
}

.container h1{
    color:goldenrod;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

button{
    color: greenyellow;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, .3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    size: 15px;
    margin: 20px 200px 0px 200px;
    padding: 10px;
}